
  <div>
    <img src="./images/beer.png" alt = "beer-image" width="500" height="400">
      <li><a href="/beers">Check the Beers!</a></li>
      <li><a href="/random-beers">Check a Random Beer</a></li> 
  </div>
  